@import '../main.scss';

.app {
    max-width: 800px;
    // margin: auto;
    font-family: 'SF Pro', Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    margin-top: 2rem;
}

.title {
    margin-bottom: 1rem;
}

.instructions {
    margin-bottom: 0.5rem;
    color: lightgray;

    &.game-over {
        color: rgb(245, 139, 157);
    }
}

.stats {
    color: lightgray;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

button {
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 5px;
    color: $text-color;
    background-color: $darker-background-color;
    font-weight: bold;

    &:disabled {
        cursor: default;
        opacity: 0.5;
    }
}

.sudoku-grid-wrapper {
    display: flex;
    gap: 0.5rem;
    margin: auto;
    margin-top: -2rem;
    width: fit-content;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: right;
}

.generation-settings {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.seed-input {
    display: flex;
    gap: 0.5rem;
    background-color: $darker-background-color;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;

    input {
        background: $sudoku-background-color;
        padding-left: 4px;
        border: none;
        color: $sudoku-text-color;
    }
}